{% extends "header.html" %}
{% block content %}
<div style="display:flex;justify-content:center;align-items:center;">
    <div>
        <h1 style="text-align: center;">Register your app</h1>
        <form action="", method="post">
            {{ form.hidden_tag() }}
            <p>{{form.name.label}}*<br>
            {{form.name(size=32)}}<br>
            </p>
            <p>{{form.description.label}}*<br>
            {{form.description(size=32)}}<br>
            </p>
            <p>{{form.default_redirect_url.label}}*<br>
                {{form.default_redirect_url(size=32)}}<br>
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</div>
{% endblock %}