{% extends "header.html" %}
{% block content %}
<div style="display:flex;justify-content:center;align-items:center;">
    <div>
        <h1 style="text-align: center;"> Sign In</h1>
        <form action="", method="post">
            {{ form.hidden_tag() }}
            <p>{{form.username.label}}*<br>
            {{form.username(size=32)}}<br>
            </p>
            <p>{{form.password.label}}*<br>
            {{form.password(size=32)}}<br>
            </p>
            <p>{{ form.submit() }} <button onclick="window.location='/register'">Register</button></p>
        </form>
    </div>
</div>
{% endblock %}